<div class="container">
  <div
    class="sentoff-container"
    style="font-family: 'Signika Negative', sans-serif"
  >
    <h1 style="font-size: 17px; text-align: center" class="carousel-title">
      <strong>Farewell - 10th Std. 2023-24 Batch </strong>
    </h1>

    <div class="slider">
      <div class="slides">
        <img *ngFor="let image of images" [src]="image" alt="Slide" />
      </div>
      <a class="prev" (click)="moveSlide(-1)">&#10094;</a>
      <a class="next" (click)="moveSlide(1)">&#10095;</a>
    </div>
  </div>

  <div class="container header-section flex">
    <div class="header-left">
      <h1>"Welcome to Aakaar classes"</h1>
      <p style="margin-bottom: 10px">
        Aakaar Classes has aimed at providing an
        <strong>appropriate learning environment</strong> to students studying
        from 5th to 12th standard. We pay utmost importance to
        <strong>stress-free education</strong> that will enable students to
        perform <strong>excellently well</strong> in board examinations and
        other competitive exams while at the same time building
        <strong>confidence</strong> and <strong>competency</strong> in them.
        Whilst the elements of <strong>flexibility</strong> and
        <strong>structure</strong> are integrated, each
        <strong>individual student’s requirement</strong> is addressed with the
        most <strong>appropriate framework</strong> and
        <strong>environment</strong> for learning and organization.
      </p>
      <a routerLink="enquiry" href="enquiry" class="primary-button">ENQUIRY</a>
    </div>
    <div class="header-right">
      <img src="../../assets/img/asset 1.png" alt="Hero Image" />
    </div>
  </div>

  <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <div class="feature-img">
        <img src="../../assets/img/asset 15.png" alt="" />
      </div>
      <div class="feature-desc flex">
        <h1>" <strong>Akaar Classes:</strong> A Learning Transformation"</h1>
        <p>
          Joining <strong>Aakaar's classes</strong> marked a significant turning
          point in my academic journey. The faculty's unwavering dedication and
          commitment to ensuring every student comprehends the material are
          unmatched. With their personalized approach, intricate topics are
          systematically broken down into manageable components, nurturing a
          <strong>profound comprehension</strong> that transcends mere rote
          memorization.
        </p>
      </div>
    </div>
  </section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <div class="feature-desc flex">
        <h1>
          <strong>Akaar Coaching:</strong> Where Excellence is a Daily Habit
        </h1>
        <p>
          <strong>Aakaar Classes</strong> establishes the standard for
          <strong>academic excellence</strong>. The demanding
          <strong>curriculum</strong>, coupled with inventive
          <strong>teaching approaches</strong>, encourages students to surpass
          their <strong>limitations</strong> and aspire for
          <strong>greatness</strong>. Supported by mentors who are steadfast
          <strong>pillars</strong>, every obstacle is surmounted through
          <strong>determination</strong> and <strong>persistence</strong>.
        </p>
      </div>
      <div class="feature-img">
        <img src="../../assets/img/asset 17.png" alt="" />
      </div>
    </div>
  </section>

  <section class="big-feature-section">
    <div class="container flex big-feature-container">
      <div class="feature-img">
        <img src="../../assets/img/asset 16.png" alt="" />
      </div>
      <div class="feature-desc flex">
        <h1>Cultivating Potential, Not Just Knowledge</h1>
        <p>
          <strong>Aakaar's classes</strong> transcend traditional tutoring by
          promoting comprehensive development. Beyond
          <strong>academic excellence</strong>, students are motivated to delve
          into their <strong>passions</strong>, enhance
          <strong>critical thinking skills</strong>, and nurture vital
          <strong>life abilities</strong>. Through a combination of
          <strong>academic rigor</strong> and
          <strong>extracurricular engagement</strong>, students evolve into
          versatile individuals prepared for success in all pursuits.
        </p>
      </div>
    </div>
  </section>

  <!-- <section class="companies-section">
    <div class="container">
      <div class="small-bold-text companies-header">
        The world of Education
      </div>
      <div class="logos flex">
        <img class="logo" src="/Assests/asset 3.png" alt="" />
        <img class="logo" src="/Assests/asset 4.png" alt="" />
        <img class="logo" src="/Assests/asset 5.png" alt="" />
        <img class="logo" src="/Assests/asset 6.png" alt="" />
        <img class="logo" src="/Assests/asset 7.png" alt="" />
        <img class="logo" src="/Assests/asset 8.png" alt="" />
      </div>
    </div>
  </section> -->

  <section class="features-section">
    <div class="container">
      <div class="features-header">
        <h1 class="features-heading-text" style="color: #03d9ffcf">
          <strong>Explore Our Popular Courses:</strong>
        </h1>
        <h2 style="font-size: 40px">
          <strong style="color: rgb(255, 153, 36)"
            >MHT-CET, IIT-JEE & NEET</strong
          >
        </h2>
      </div>
      <div class="features-area flex">
        <div class="features-card">
          <div class="card-icon">
            <img src="../../assets/img/MHT-CET-icon.png" alt="" />
          </div>
          <div class="card-content">
            <h3 style="font-size: 23px;color: #03d9ffcf;"><strong>MHT-CET</strong></h3>
            <p>
              The <strong>MHT-CET courses</strong> designed by
              <strong>Aakaar's classes</strong> are <strong>unique</strong> and
              are as per the <strong>latest examination pattern</strong>...<a
                href="#"
                >Read more</a
              >
            </p>
          </div>
        </div>
        <div class="features-card">
          <div class="card-icon">
            <img src="../../assets/img/O - JEE main.png" alt="" />
          </div>
          <div class="card-content">
            <h3 style="font-size: 23px;color: #03d9ffcf;">
              <strong>JEE (Main+Advanced)</strong>
            </h3>
            <p>
              The faculty team at <strong>Aakaar's classes</strong> is comprised
              of top-tier educators dedicated to preparing students for JEE
              (Main+Advanced)...<a href="#">Read more</a>
            </p>
          </div>
        </div>
        <div class="features-card">
          <div class="card-icon">
            <img src="../../assets/img/O - NEET.png" alt="" />
          </div>
          <div class="card-content">
            <h3 style="font-size: 23px;color: #03d9ffcf;">
              <strong>Pre-Medical NEET UG</strong>
            </h3>
            <p>
              <strong>Aakaar's classes</strong> has established a reputation for
              providing top-notch preparatory courses and achieving outstanding
              results in medical entrance examinations...<a href="#"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="enroll-header">
    <div class="features-header">
      <h1 class="features-heading-text" style="color: #03d9ffcf">
        <strong>Our Courses</strong>
      </h1>
      <h2 style="font-size: 40px">
        <strong style="color: rgb(255, 153, 36)"
          >Admission Open</strong
        >
      </h2>
    </div>
  </div>

  <section class="Course-Enroll">
    <div class="grid_item">
      <div class="card">
        <div class="image_container">
          <div class="image_container2">
            <img src="../../assets/img/course-box1.jpg" alt="web development" />
            <ul>
              <li class="primary-button">
                <a
        routerLink="enquiry" href="enquiry" >Admission Open</a
        >
              </li>
            
              <li class="li2">
                <strong><a routerLink="enquiry" href="enquiry">Enroll Now</a></strong>
              </li>
            </ul>
          </div>
        </div>
        <div class="card_content" style="color: black;">
          <h4>
            <strong
              >7 <sup>th</sup>, 8<sup>th</sup>, 9<sup>th</sup>, 10<sup>th</sup>
              Std</strong
            >
          </h4>
          <p>
            <i class="fa-solid fa-calendar-days"></i> 1st April (Admission
            available in mid-session)
          </p>
          <p><i class="fa-regular fa-clock"></i> 6 days a week</p>
          <p>
            Subject: English, Hindi, Marathi, Sanskrit, Social Science, Science,
            Maths
          </p>
        </div>
      </div>
    </div>

    <div class="grid_item">
      <div class="card">
        <div class="image_container">
          <div class="image_container2">
            <img src="../../assets/img/course-box2.jpg" alt="web development" />
            <ul>
              <li class="primary-button">
                <a
        routerLink="enquiry" href="enquiry" >Admission Open</a
        >
              </li>
            
              <li class="li2">
                <strong><a routerLink="enquiry" href="enquiry">Enroll Now</a></strong>
              </li>
            </ul>
          </div>
        </div>
        <div class="card_content" style="color: black;">
          <h4>
            <strong
              >7 <sup>th</sup>, 8<sup>th</sup>, 9<sup>th</sup>, 10<sup>th</sup>
              Std</strong
            >
          </h4>
          <p>
            <i class="fa-solid fa-calendar-days"></i> 1st April (Admission
            available in mid-session)
          </p>
          <p><i class="fa-regular fa-clock"></i> 6 days a week</p>
          <p>
            Subject: English, Hindi, Marathi, Sanskrit, Social Science, Science,
            Maths
          </p>
        </div>
      </div>
    </div>

    <div class="grid_item">
      <div class="card">
        <div class="image_container">
          <div class="image_container2">
            <img src="../../assets/img/course-box3.jpg" alt="web development" />
            <ul>
              <li class="primary-button">
                <a
        routerLink="enquiry" href="enquiry" >Admission Open</a
        >
              </li>
            
              <li class="li2">
                <strong><a routerLink="enquiry" href="enquiry">Enroll Now</a></strong>
              </li>
            </ul>
          </div>
        </div>
        <div class="card_content" style="color: black;">
          <h4>
            <strong>11<sup>th</sup> & 12<sup>th</sup> Board</strong>
          </h4>
          <p>
            <i class="fa-solid fa-calendar-days"></i> 1st April (Admission
            available in mid-session)
          </p>
          <p><i class="fa-regular fa-clock"></i> 6 days a week</p>
          <p>Subject: Maths, Physics, Chemistry, Biology</p>
        </div>
      </div>
    </div>
  </section>

  <section class="coach">
    <div class="coach-heading">
      <h1 class="features-heading-text" style="color: #03d9ffcf"><strong>BEST COACH</strong></h1>
      <h2 style="font-size: 40px">
        <strong style="color: rgb(255, 153, 36)"
          >Founder</strong
        >
      </h2>
    </div>
    <div class="coach-slide">
      <div class="slide">
        <img src="../../assets/img/coach-1.jpg" alt="Avinash Sir" />
        <h4 style="text-align: center; color: white">Avinash Sir</h4>
      </div>

      <div class="slide">
        <img src="../../assets/img/coach-1.jpg" alt="Avinash Sir" />
        <h4 style="text-align: center; color: white">Avinash Sir</h4>
      </div>
    </div>
  </section>

  <h2 style="text-align: center">
    <strong>Success of Our Classes</strong>
  </h2>
  <br />
  <section class="about-us">
    <div class="poster">
      <img src="../../assets/img/poster1.jpeg" alt="" class="poster-size" />
    </div>

    <div class="poster">
      <img src="../../assets/img/poster3.jpeg" alt="" class="poster-size" />
    </div>

    <div class="poster">
      <img src="../../assets/img/poster5.jpeg" alt="" class="poster-size" />
    </div>
  </section>
</div>
