@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1180px;
    margin: 10px auto;
}
:root{
    --primary-text-color:#ffa010;
    --secondary-text-color:#577592;
    --accent-color:#f38911;
    --accent-color-dark:#9b5e18;
    --padding-inline-section:20px;
}

body{
    margin: 0;
    font-family: 'poppins',sans-serif;
    color:var(--primary-text-color);
}

.dark-mode{
    background-color: black;
    color: #fff;
}
.toggle-btn {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
h1{
    font-size: 2rem;
    color: #ff8800ee;
    margin-bottom: 20px;
}

h2{
    font-size: 1.5rem;
}

h4{
    font-size: large;
}

p{
    /* font-family: 'roboto',sans-serif; */
    font-size: 1rem;
    color: var(--secondary-text-color);
    line-height: 1.2rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* Utility Classes*/
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.carousel-title{
    font-family: 'poppins',sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}
/*Top Banner*/
.top-banner{
    background-image: url('../../assets/img/asset\ 18.png');
    background-color: #4fb3d4;
    background-size: 300px;
    width: 100%;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 1.6rem;
    animation: blinker 1s linear infinite;
}

  
  @keyframes blinker  {
    50% {
      opacity: 0;
    }
  }
/*Navigation Bar*/

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 10px;

}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 856px;
}
.nav-links ul{
    justify-content: start;
    gap: 23px;
}
.nav-links ul li a{
    text-decoration: none;
}
.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
    text-decoration: none;
}
.hover-link:hover{
    color: var(--accent-color);
}
.primary-button{
    background-color:#03d9ffcf;
    border-radius: 6px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: rgb(255, 136, 0);

}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.header{
    padding: 58px var(--padding-inline-section) 0;
}

.header-section{
    justify-content: center;
    gap: 58px;
}
.header-left{
    max-width: 40vw;
}


.header-left h1{
    margin-bottom: 20px;
}

.get-started-btn{
    margin-top: 20px;
}
.header-right img{
    width: 600px;
}

/* Course Hover*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content .dropdown-column {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
  }
  
  .dropdown-content a {
    display: block;
    padding: 5px 0;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/*companies-section*/
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 46px;
}

/*feature-section*/

.features-section{
    padding: 80px var(--padding-inline-section) 0;
   
}
.features-header{
    text-align: center;

}

.features-heading-text{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    width: auto;
    gap: 10px;
    margin-top: 20px;
}
.features-card{
    display: flex;
    flex-direction: row;
    width: 28%;
    height: 220px;
    text-align: center;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    margin: 26px; 
    transition: 0.2s ease-in-out;
}
.features-card:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(247, 175, 42);
    transition: 0.2s ease-in-out;

}

/*Course-Enroll*/
.enroll-header{
    margin-left: 10vw;
}
.Course-Enroll{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    margin: 20px 0;
    max-width: 1100px;
    margin: 50px auto;

}
.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 320px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(255, 145, 1, 0.795);
    transition: 0.2s ease-in-out;
}

.card_content{
    padding: 0px 20px 20px 20px;
}

.card_content h3{
    margin-bottom: 10px;
}
.card_content h4:hover{
    color: var(--accent-color);
}

.image_container img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    position: block;
}

.image_container ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 15px;
}
.image_container ul li{
    padding: 5px;
    border-radius: 5px;
    color: white;
    
}
.image_container ul li:hover{
    background-color: rgb(10, 79, 145);
}
.image_container ul li a{
    color: white;
    text-decoration: none;
}

.li2{
    background-color: black;
    margin: 20px;
}
/*Coach Slides Section*/
.coach-heading{
    text-align: center;
}
.coach-slide{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.coach-heading h1{
    color: var(--accent-color);
}

/* Poster */
.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.poster img{
    max-width: 20vw;
    height: auto;
    margin: 0 auto;
}

/*big-feature-section*/
.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;

}

.big-feature-container{
    gap: 30px;
}

.feature-img img{
    width: 100%;
}

.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

/*footer*/

footer{

    padding-block: 80px;
    background-color: #eff2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
    width: 100vw;
}

.subfooter-cotainer{
    justify-content: center;
    gap: 30px;
}

.sentoff-container{
    margin: 40px auto;
}

/*NEW CAROUSOL*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    max-width: 67%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
