<footer>
  <div class="footer-container">
      <div class="footer-logo">
          <img src="../../assets/img/Aakaar-logo.png" alt="Aakar Classes">
          <p>Aakar Classes is a premier institution known for offering comprehensive coaching for various competitive exams, including engineering and medical entrance tests.</p>
          <div class="footer-contact-info">
              <p>Reach Out To Us</p>
              <p><a href="mailto:learn@aakarclasses.com">learn&#64;aakarclasses.com</a></p>
              <p><a href="tel:+919637802425">+919637802425</a></p>
          </div>
      </div>
      <div class="footer-links">
          <h3>Quick Links</h3>
          <ul>
              <li><a routerLink="home" href="home">Home</a></li>
              <li><a routerLink="enquiry" href="enquiry">Enquiry</a></li>
              <li><a routerLink="courses" href="courses">courses</a></li>
              <li><a routerLink="contact" href="contact">contact</a></li>
          </ul>
      </div>
      <div class="footer-tags">
          <h3>Tags</h3>
          <ul>
              <li><a href="#">SSC</a></li>
              <li><a href="#">CBSE</a></li>
              <li><a href="#">ICSE</a></li>
              <li><a href="#">HSC</a></li>
              <li><a href="#">JEE</a></li>
              <li><a href="#">NEET / CET</a></li>
              <li><a href="#">8th</a></li>
              <li><a href="#">9th</a></li>
              <li><a href="#">10th</a></li>
          </ul>
      </div>
      <div class="footer-legal">
          <h3>Legal</h3>
          <ul>
              <li><a href="#">Terms & Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQs</a></li>
          </ul>
      </div>
      <div class="footer-contact">
          <h3>Get In Touch</h3>
          <input type="email" placeholder="Enter your Email">
          <button>SUBMIT</button>
          <div class="social">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <p>Copyright 2024. All rights Reserved.</p>
  </div>
</footer>