@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h4{
    font-size: large;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* Utility Classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}

/* Button and hover link */
.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color: var(--accent-color);
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* Footer */
footer{
    padding-block: 80px;
    background-color: #eff2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
}

/* Course-Enroll */
.Course-Enroll{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1100px;
    margin: 50px auto;
}
.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 320px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(11, 172, 221, 0.3);
    transition: 0.2s ease-in-out;
}
.card_content{
    padding: 0px 20px 20px 20px;
}
.card_content h3{
    margin-bottom: 10px;
}
.card_content h4:hover{
    color: var(--accent-color);
}
.image_container img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.image_container ul{
    display: flex;
    align-items: center;
    margin: 10px;
}
.image_container ul li{
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.image_container ul li:hover{
    background-color: rgb(10, 79, 145);
}
.image_container ul li a{
    color: white;
}
.li1{
    background-color: rgb(255, 150, 12);
}
.li2{
    background-color: black;
    margin-left: 20px;
}
