<div class="course-img">
    <img src="../../assets/img/our-courses.jpg" alt="Course poster" style="width: 100%;">
  </div>

  <section class="Course-Enroll">
    <div class="grid_item">
      <div class="card">
        <div class="image_container">
          <div class="image_container2">
            <img src="../../assets/img/course-box1.jpg" alt="web development" />
            <ul>
              <li class="li1">
                <b><a href="">Admission Open</a></b>
              </li>
              <li class="li2">
                <b><a href="">Enroll Now</a></b>
              </li>
            </ul>
          </div>
        </div>
        <div class="card_content" style="color: black;">
          <h4><b>7 <sup>th</sup> ,8<sup>th</sup> ,9<sup>th</sup> ,10<sup>th</sup> Std</b></h4>
          <span>
            <i class="fa-solid fa-calendar-days"></i> 1st April (Admission
            available in mid-session)
          </span><br>
          <span><i class="fa-regular fa-clock"></i> 6 days a week</span><br>
          <span>
            Subject: English, Hindi, Marathi, Sanskrit, Social Science,
            Science, Maths
          </span><br>
        </div>
      </div>
    </div>

    <div class="grid_item">
      <div class="card">
        <div class="image_container">
          <div class="image_container2">
            <img src="../../assets/img/course-box2.jpg" alt="web development" />
            <ul>
              <li class="li1">
                <b><a href="">Admission Open</a></b>
              </li>
              <li class="li2">
                <b><a href="">Enroll Now</a></b>
              </li>
            </ul>
          </div>
        </div>
        <div class="card_content" style="color: black;">
          <h4><b>11 <sup>th</sup> & 12 <sup>th</sup> - MHT CET</b></h4>
          <span>
            <i class="fa-solid fa-calendar-days"></i> 2nd May 2024 - First
            Batch
        </span><br>
          <span>
            <i class="fa-solid fa-calendar-days"></i> 16th May 2024 - Second
            Batch
          </span><br>
          <span>
            <i class="fa-regular fa-clock"></i> 30th May 2024 - Third Batch
          </span><br>
          <span>Subject: Maths, Physics, Chemistry, Biology</span><br>
        </div>
      </div>
    </div>

    <div class="grid_item">
      <div class="card">
        <div class="image_container">
          <div class="image_container2">
            <img src="../../assets/img/course-box3.jpg" alt="web development" />
            <ul>
              <li class="li1">
                <b><a href="">Admission Open</a></b>
              </li>
              <li class="li2">
                <b><a href="">Enroll Now</a></b>
              </li>
            </ul>
          </div>
        </div>
        <div class="card_content" style="color: black;">
          <h4><b>11 & 12 Board</b></h4>
          <span>
            <i class="fa-solid fa-calendar-days"></i> 1st April (Admission
            available in mid-session)
          </span><br>
          <span><i class="fa-regular fa-clock"></i> 6 days a week</span><br>
          <span>Subject: Maths, Physics, Chemistry, Biology</span>
        </div>
      </div>
    </div>
  </section>